
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  height: 100%;
  background: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}
@theme {
  --color-light-blue: hsl(211, 18%, 61%); 
  --color-dark-blue: hsl(218, 44%, 22%);
}